
    /* NAVBAR */
    #secondnav {
            display: flex;
            justify-content: space-between;
            padding: 5px 20px;
        }

        .box {
            width: 600px;
            height: 8px;
            background-color: white;
            border-radius: 30px;
            display: flex;
            align-items: center;
            padding: 20px;
            background-color: rgb(226, 229, 233);
        }

        .box>img {
            font-size: 20px;
            width: 27px;
            padding-right: 10px;
        }

        .box>input {
            flex: 1;
            height: 40px;
            border: none;
            outline: none;
            font-size: 18px;

            background-color: rgb(226, 229, 233);
        }

        .secondbox {
            width: 265px;
            background-color: white;
        }

        .secondbox:hover {
            background-color: rgb(226, 229, 233);
            cursor: pointer;
        }

        #thirdnav {
            padding-left: 150px;
            margin-top: 20px;
            display: flex;
           
        }
        #thirdnav h3:hover{
            cursor: pointer;
        }
        #thirdnav h3{
            margin-right: 40px;
        }
            /* GAMING  */

            #gaming-menu{
              display: flex;   
              margin-left: 7%; 
            }
            .menu_img{
               width: 180px;   
            }
            #tittle{
                  margin-left: 8%;
                  margin-top: 5%;
                  
            }
            .icon_pack{
                  margin: 15px;
           

            }
            #descrip{
                  margin-top: 70px;
                  margin-left:8%;
                  text-align: left;
                  width: 46%;
            }
            #descrip>h2{
                  width: 90%;
            }
            #descrip>p{
                  width: 100%;
            }
            #products_show{
                 height: 30px;

                  display: flex;
                 margin-left:85%;
                 margin-right: 33px;

            }
            #products_show>span{
                 margin: auto;
                 margin-right: 5px;
                 color: grey;
            }
            #products_show>button{
                 
                 background-color: white;
                 border-radius: 10%;
                 border: 1px solid black;
                 margin:1px;
            }
            .filterProduct{
                  width: 100%;
            }
             #filter_icon{
                  width: 90%;
                  margin: auto;
                  margin-left: 8%;
             }
             #showing_data{
                  width: 90%;
                  margin: auto;
                  margin-left: 8%;
                  margin-top:10px;
             }
             #page_view{
                  margin: auto;
                  margin-left: 50%;
                  /* background-color: #ff8c90; */
             }
             #page_view>p{
                  margin-left: 45px;
             }
             #page_view>button{
             width: 200px;
             margin-top: 25px;
             margin-left: 0px;
             height: 45px;
             border-radius: 30px;
             border: 1px solid;
             background-color: white;
             }

#second_des{
      margin-left: 9%;
      margin-top: 8%;
      width:100%;
      margin-right: 2%;
     
}
.second_dis{
      display: flex;
     
    
}
.second_dis>p{
     width: 50%;
    
}
.second_dis>button{
    height: 45px;
    margin-left:25%;
             border-radius: 30px;
             border: 1px solid;
             background-color: white;
             width: 200px;
}
.img_ection_botm{
      height: auto;
      width: 90%;
      margin-left: 8%;
      /* border: 1px solid green; */
      display: flex;
       

}
.left_side{
    height: 980px;
      width: 50%;
      /* border: 1px solid black;   */
}
.left_side div:nth-child(1){
      height: 950px;
      width: 98%;
      margin:15px;
     
      background-image: url("https://www.ikea.com/ext/ingkadam/m/36955414c7346152/original/PH187076.jpg?f=l");
     
}
.center_side{
      height: 980px;
      width: 25%;
      /* border: 1px solid red;  */
}
.right_side{
      height: 980px;
      width: 25%;
      /* border: 1px solid red;  */
}

.center_side div:nth-child(1){
      margin :15px;
      width: 94%;
      height: 400px;
     
      background-image:url("https://www.ikea.com/ext/ingkadam/m/7a7b9d36336ae261/original/PH187062-crop001.jpg?f=xxs");
     
}
.center_side div:nth-child(2){
      margin :15px;
      width: 93%;
      height: 532px;
     
      background-image:url("https://www.ikea.com/ext/ingkadam/m/5c78a88c7428549d/original/PH187594.jpg?f=xxs");
     
}
.right_side div:nth-child(2){
      margin :15px;
      width: 94%;
      height: 400px;
     
      background-image:url("https://www.ikea.com/ext/ingkadam/m/27297d75d106222c/original/PH183443-crop001.jpg?f=xxs");
     
}
.right_side div:nth-child(1){
      margin :15px;
      width: 93%;
      height: 532px;
     
      background-image:url("https://www.ikea.com/ext/ingkadam/m/431f65e975caf083/original/PH188170.jpg?f=xxs");
     
}
.banner_main{
      /* border:2px solid red; */
 width: 88.5%;
 margin-left: 9%;
 height: 422px;
 margin-top:25px;
 display: flex;
 margin-bottom: 50px;

}
.banner_main div:nth-child(1){
      width: 60%;
      height: 100%;

      background-image: url("https://www.ikea.com/images/a-young-man-with-headphones-on-and-his-hands-up-in-the-air-s-1a162c52599a5317e2644bd34fa28ff9.jpg?f=l");

}
.banner_main div:nth-child(2){
      width:40%;
      height: 422px;
      background-color:rgb(80, 46, 115);
      color: white;
}
.banner_main div:nth-child(2)>h4{
      margin-left:5%;
      font-size: 130%;;
      width: 95%;
      margin-top: 10%;
      margin-bottom:5%;
      

}
.banner_main div:nth-child(2)>p{
      margin-left:5%;
      font-size:100%;
      width: 95%;
      
}
.banner_main div:nth-child(2)>button{
      margin-left:5%;
      font-size: 95%;
      margin-top:10%;
      width: 90%;
      color: white;
      background-color: transparent;
      border: 1px solid white;
      border-radius: 30px;
      height: 40px;
      
}
.menu_text{
      margin-left: 9%;
      font-size: x-large;
}
.container{
      margin-left: 9%;
      width: 88.5%;
      height: 700px;
      /* border: 2px solid red; */
      display: flex;
}
.container>div{
      margin-left: 9%;
      width: 26%;
      height: 90%;
      margin:10px;
      /* border: 2px solid red; */
      background-color: #ff8c90;
}
.container>div>img{
      width:100%;
      height: 65%;
}
.container>div>p{
      font-size: 25px;
      font-weight: 550;
      margin-left: 15px;

      
}
.container>div>button{
      margin: 15px;
  height: 60px;
  width: 60px;
  border-radius: 30px;
  font-weight:bolder;
  font-size: x-large;
  background-color: black;
  color: white;
}
.container div:nth-child(2){
      background-color: #ffcc66;
}
.container div:nth-child(3){
      background-color: #8cddff; 
}
#banner_2 div:nth-child(1){
      width: 60%;
      height: 100%;

      background-image: url("https://www.ikea.com/images/a-black-utespelare-gaming-desk-with-two-screens-a-black-gami-c25dc7ada0e79652e40a31ff9616a0e0.jpg?f=l");

}
#banner_2 div:nth-child(2){
      width:40%;
      height: 422px;
     
      background-color: rgb(178, 167, 165);
      color: black;
}
#banner_2 div:nth-child(2)>h4{
      margin-left: 5%;
      font-size:130%;
      width:95%;
      

}
#banner_2 div:nth-child(2)>p{
      margin-left: 5%;
      font-size:100%;
      width:95%;
      
}
#banner_2 div:nth-child(2)>button{
      margin-left:10%;
      font-size: 90%;
      width: 85%;
      color: white;
      background-color: black;
      border: 1px solid black;
      border-radius: 30px;
      height: 40px;
      
}
.two_img{
     
      width: 86%;
      height: 1000px;
      margin-left: 9%;
      margin-right: 9%;
      display: flex;
      padding:15px;
      /* background-color: #ff8c90; */

}
.two_img>div{
       padding: 15px; 
      width: 100%;

      overflow: hidden;
}
.text_des{
      margin-left: 9%;
      width: 55%;
font-size: small;
}

/* media query  !!!!!!*/
@media screen and (max-width: 900px) {
 
 #gaming-menu{
              display:flex;   
              margin-left: 7%; 
              
            }
            .menu_img{
               width: 90%;   
            }
            #tittle{
                  margin-left: 7.5%;
                  margin-top: 10%;
                  margin-bottom:2%;
                  font-size: 120%;
            }
            .icon_pack{
                  margin: 0%;
           

            }
            #descrip{
                  margin-top: 70px;
                  margin-left:8%;
                  text-align: left;
                  width: 90%;
            }
            #descrip>h2{
                  width: 100%;
                  font-size:100%;
                  margin-bottom: 2%;
            }
            #descrip>p{
                  width: 100%;
            }
            /* mid section  */
            #page_view{
                  margin: auto;
                  /* margin-left: 50%; */
                  /* background-color: #ff8c90; */
                  width: fit-content;
             }
             #page_view>p{
                  /* margin-left: 45px; */
                  margin-left: 15%;
                  margin-top: 0%;
                  margin-bottom: 0%;
             }
             #page_view>button{
             width: 100%;
             margin-top: 10%;
             /* margin-left: 10px; */
             height: 45px;
             border-radius: 30px;
             border: 1px solid;
             background-color: white;
             }

#second_des{
      margin-left: 9%;
      margin-top: 8%;
      width:85%;
}
.second_dis{
      display: block;
      margin: auto;

}
.second_dis>p{
     width: 90%;
     /* margin-right: 28%; */
    
     /* border: 2px solid red; */
     font-size:100%;
     color: black;
     margin: auto;
     
}
#second_des>h2{
      margin:2%;
    font-size:150%;
    /* color: #ffcc66; */
     /* border: 2px solid red; */
}
.second_dis>button{
   margin-left: 25%;
    height: 45px;
    margin-top: 5%;
             border-radius: 30px;
             border: 1px solid;
             background-color: white;
            

             width: 50%;
}
/* three murti image */
.img_ection_botm{
      height: fit-content;
      width: 90%;
      margin-left: 8%;
      /* border: 1px solid green; */
       display: block; 
       

}
.left_side{
    height: 600px;
      width: 90%;
      /* border: 1px solid black;   */
}
.left_side div:nth-child(1){
      height: 100%;
      width: 100%;
      margin:5%;
     
      background-image: url("https://www.ikea.com/ext/ingkadam/m/36955414c7346152/original/PH187076.jpg?f=l");
     
}
.center_side{
      margin-top: 5%;
      height: 100%;
      width: 100%;
      /* border: 1px solid red;  */
}
.right_side{
      height:100%;
      width: 100%;
      /* border: 1px solid red;  */
}

.center_side div:nth-child(1){
      margin :auto;
      width: 50%;
      height: 400px;
     
      background-image:url("https://www.ikea.com/ext/ingkadam/m/7a7b9d36336ae261/original/PH187062-crop001.jpg?f=xxs");
     
}
.center_side div:nth-child(2){
      margin :auto;
      margin-top: 5%;
      width: 50%;
      height: 532px;
     
      background-image:url("https://www.ikea.com/ext/ingkadam/m/5c78a88c7428549d/original/PH187594.jpg?f=xxs");
     
}
.right_side div:nth-child(2){
      margin :auto;
      margin-top: 5%;
      width: 50%;
      height: 400px;
     
      background-image:url("https://www.ikea.com/ext/ingkadam/m/27297d75d106222c/original/PH183443-crop001.jpg?f=xxs");
     
}
.right_side div:nth-child(1){
      margin :auto;
      margin-top: 5%;
      width: 50%;
      height: 532px;
     
      background-image:url("https://www.ikea.com/ext/ingkadam/m/431f65e975caf083/original/PH188170.jpg?f=xxs");
     
}

/* banner */
.banner_main{
      /* border:2px solid red; */
 width: 88.5%;
 margin-left: 9%;
 height: 422px;
 margin-top:25px;
 display: block;
 margin-bottom: 500px;

}
.banner_main div:nth-child(1){
      width: 100%;
      height: 100%;

      background-image: url("https://www.ikea.com/images/a-young-man-with-headphones-on-and-his-hands-up-in-the-air-s-1a162c52599a5317e2644bd34fa28ff9.jpg?f=l");

}
.banner_main div:nth-child(2){
      width:100%;
      height: 422px;
      background-color:rgb(80, 46, 115);
      color: white;
}
.banner_main div:nth-child(2)>h4{
     /* margin-top: 5%; */
     padding: 5%;

margin: auto;
 /* background-color: aliceblue;  */
      font-size:150%;
      width:80%;
      

}
.banner_main div:nth-child(2)>p{
      margin-left: 30px;
      font-size: 100%;
      width: 80%;
      margin-bottom:5%;
      
}
.banner_main div:nth-child(2)>button{
      margin-left: 30px;
      font-size: 95%;
      width: 50%;
      color: white;
      background-color: transparent;
      border: 1px solid white;
      border-radius: 30px;
      height: 40px;
      
}
/* slide  */
.menu_text{
      margin-top:500px;
      margin-left: 9%;
      font-size: x-large;
}
.container{
      margin-left: 9%;
      width: 88.5%;
      height: 400px;
      /* border: 2px solid red; */
      display: flex;
}
.container>div{
      margin-left: 9%;
      width: 26%;
      height: 100%;
      margin:10px;
      /* border: 2px solid red; */
      background-color: #ff8c90;
}
.container>div>img{
      width:100%;
      height:60%;
}
.container>div>p{
      font-size: 100%;
      font-weight: 550;
      margin-left: 15px;

      
}
.container>div>button{
      margin: 15px;
  height:30px;
  width: 30px;
  border-radius: 30px;
  font-weight:bolder;
  font-size: x-large;
  background-color: black;
  color: white;
}
.container div:nth-child(2){
      background-color: #ffcc66;
}
.container div:nth-child(3){
      background-color: #8cddff; 
}
/* second banner */
#banner_2 div:nth-child(1){
      width: 100%;
      height: 100%;

      background-image: url("https://www.ikea.com/images/a-black-utespelare-gaming-desk-with-two-screens-a-black-gami-c25dc7ada0e79652e40a31ff9616a0e0.jpg?f=l");

}
#banner_2 div:nth-child(2){
      width:100%;
      height: 422px;
     
      background-color: rgb(178, 167, 165);
      color: black;
}
#banner_2 div:nth-child(2)>h4{
      padding: 5%;
/* background-color: aliceblue; */
      font-size:150%;
      width:80%;

}
#banner_2 div:nth-child(2)>p{
      margin-left: 30px;
      font-size: large;
      width: 70%;
      
}
#banner_2 div:nth-child(2)>button{
      margin-left: 30px;
      font-size: 95%;
      width: 50%;
      color: white;
      background-color: black;
      border: 1px solid black;
      border-radius: 30px;
      height: 40px;
      
}
/* two image */
.two_img{
     
     width: 86%;
     height: 2000px;
     margin-left: 9%;
     margin-right: 9%;
     display: block;
     padding:15px;
     /* background-color: #ff8c90; */

}
.two_img>div{
      padding: 15px; 
     width: 100%;

     overflow: hidden;
}
.text_des{
     margin-left: 9%;
     width: 55%;
font-size: small;
}

}

/* media query ^^^^^^ */



