* {
    margin: 0;
    padding: 0;
}

#up {
    background-color: #004D40;
    padding-left: 55px;
    padding-top: 5px;
    color: #004D40;
    font-family: arabic;
}

#main {
    width: 100%;
    height: 100%;
    display: flex;

}

#first {
    width: 18%;
    height: 100%;
    background-color: #004D40;
    color: white;
    padding-left: 2%;
    font-family: arabic;
    font-size: 18px;
}

#first h2 {
    padding-top: 7%;

}

#first h2:hover {
    cursor: pointer;
    color: rgb(249, 177, 43);
}

#first img {
    display: block;
    width: 82%;
    height: 100px;
    padding-bottom: 25px;
}

#second {
    height: 100%;
    width: 80%;
    color: black;

}

#mainsection {
    width: 90%;
    margin: auto;
    margin-top: 5%;
  color:black;

}

#dash {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 200px);
    gap: 3%;
    border-radius: 7px;

}

#dash div {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.okok {
    background-color: #004D40;
    height: 4100px;
}

#tablediv {
    width: 100%;
    margin-top: 20px;
}

#tablediv table {
    width: 100%;
    text-align: left;
    font-size: 25px;
    border: 2px solid #004D40;
}
thead tr{
    margin-bottom: 10px;
}

tbody td{
    border:2px solid red;
    gap:10px;
}
#imageofth{
    display: block;
    width: 100%;
    height: 70px;
}
th,td{
    background-color: rgb(182, 247, 247);
    padding: 5px 10px;
}
#profilehead{
    margin-bottom: 20px;
    background-color: #004D40;
    color: white;
    padding:1% 1%;
    border-radius: 7px;
}
#profileimg{
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
#proimgdiv{
    border-radius: 10px;
    width: 28%;
    height: 50%;
    margin-bottom: 1%;
}
#mainofprofile{
    display: grid;
    
    grid-template-columns: repeat(2,1fr);
    gap:20px;
}
#carddiv{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding:3% 3%;
    background-color: #004D40;
    color: white;
    border-radius: 7px;
}










#second {
    height: 100%;
    width: 80%;
    color: black;
    
}

.secondfirst{
    width:100%;
    height:30px;
    text-align: center;
    font-size: 30px;
    margin-bottom: 10px;
    color: #004D40;
  
}
.secondmid{
    display: flex;
}
.left{
width:30%; 
text-align: center;
padding-bottom: 50px;

}

#form span{
color:red;
font-size:10px;
font-weight: bold;
}
.check{
width: 20px;
height: 20px;
accent-color: #004D40;
border: 3px solid #004D40;
margin-top:20px;
cursor: pointer;
}
#gender{
width:40%;
height:40px;
border:2px solid #004D40;
border-radius: 10px;
outline: none;
background: transparent;
font-size: 16px;
color:grey
}

#gender option{
width:200px;
height:40px;
border:2px solid #004D40;
border-radius: 10px;
outline: none;
background: transparent;
font-size: 16px;
color:rgb(12, 11, 11)
}
.user-box input{
width:90%;
padding:10px 6px;
font-size:16px;
color:#004D40;
/* margin-bottom: 30px; */
border:2px solid #004D40;
border-radius: 10px;
outline: none;
background: transparent;
}
.user-box input:focus {
top:-40;
border:2px solid #004D40;
border-bottom: 4px solid #004D40;
outline: none;
background: transparent;
font-size: 12px;

} 
.submit{
margin-top:30px;
font-size: 20px;
width:90%;
height:50px;
border-radius: 20px;
color:white;
background-color: #004D40;
cursor: pointer;
}
.check-section{
display: flex;
}
.checkbox_p1{
width:40px;

}
.user-box {
position:relative;
margin-bottom: 20px;
}
#form{
border: 5px solid #004D40;
padding: 10%;
padding-left: 20%;
border-radius: 20px;

}
.checklbl{
margin-left: 5%;
font-size:20px;
}