body{
    margin:0;
    padding:0;
}
.container{
    display:flex;
    width:100%;
    height:120vh;
     margin:0;
}
.left{
    background-color: rgb(0, 88, 163);
    /* background:linear-gradient(rgb(10, 10, 10),rgb(235, 60, 7),rgb(243, 167, 3)); */
    width:45%;
   padding:10px;
}
.first>img{
    width:100px;
    height: 30px;
}
#form label{
  font-size: 20px;
}
.mid{
    color:white;
    justify-content: center;
    text-align: center;

}
.leftspace{
    width:100%;
    height:200px;
    color:aqua;
}
.last{
    text-align: center;
    color:white;
    font-size:10px;
}

.right{
   
    background-color:white;
    width:60%;
   
   
}
.center{
    width:10%;
    background-color: white;
}
.create{
   color:white;
}
.form-input{
    width:400px;
    height: 50px;
   border-radius: 10px;
  
}
.formspace{
    height:30px;
}
.rightspace{
    width:100%;
    height:80px;
    color:aqua;
}

.btn{
    width:400px;
    height:50px;
    border-radius: 20px;
 
}
.submittext{
    width:400px;
    height: 50px;
   border-radius: 10px;
   color:white;
   background-color: rgb(0, 88, 163);
  
   font-size: 25px;

}
#email_err,#pass_err{
    font-size:10px;
    color:red;
}