body {
    font-family: 'Noto IKEA', 'Noto Sans', 'Roboto', 'Open Sans', system-ui, sans-serif !important;
    color: #302c2c;
    font-size: .81rem;
    line-height: 1.385;
}
.main-div{
    display: flex;
    width: 58%;
    margin: 0 auto;
    justify-content: space-between;
    padding-bottom: 5px;
    border-bottom: 1px solid lightgrey;
    margin-bottom: 25px;
    
}
.main-div > .left-div{
display: flex;
}

.heading>  h3 {
        text-align: center;
        font-size: 28px;
}

.heading {
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-div > .right-div{
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    height: 170px;
    min-width: 17%;
}

#count {
    position: absolute;
    right: 48px;
    top: 32px;
    background-color: aquamarine;
    color: red;
    width: 20px;
    border-radius: 22px;
    align-items: center;
    text-align: center;
}

.main-div > .left-div >.left{
    display: flex;
    flex-flow: column;
    width: 71%;
    margin: 0 auto;
    }
.heading > {
    text-align: center;
    font-weight: bold;
    font-size: 28px;
    margin-top: 62px;
}  
.main-div > .left-div img{
  width: 136px;
}
.main-div > .right-div > div:nth-of-type(1){

    font-size: 118%;
}



.main-div > .right-div > div:nth-of-type(2) button {

    display: inline-block;
    width: 100%;
    max-width: 352px;
    height: 40px;
    margin: 0;
    border: 1px solid transparent;
    border-radius: 2px;
    font-weight: 400;
    font-size: .8125rem;
    line-height: 37px;
    font-family: inherit;
    text-decoration: none;
    text-align: center;
    text-transform: none;
    vertical-align: middle;
    white-space: nowrap;
    cursor: pointer;
    background: transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-clip: padding-box;
    overflow: visible;
    color: #444;
    border-color: #666;
}


.main-div > .right-div > div:nth-of-type(2) select{
    width: 100%;
    max-width: 352px;
    height: 40px;
    margin: 0;
    padding: 0 10px;
    border: 1px solid #666;
    border-radius: 2px;
    background: #fff url(https://order.ikea.com/in/en/checkout/static/media/chevron-down-thin-24.1667eab2.svg) no-repeat right 8px center/1.5rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: 1rem;
    line-height: 1.15;
    font-family: inherit;
    text-transform: none;
}

.main-div > .right-div > div:nth-of-type(2) img{
    width: 28px;
}
.main-div > .right-div > div:nth-of-type(2){
    display: flex;
    justify-content: space-between;
    
}

.sel-div{
    width: 65%;
}

#title,.total{
    font-size: 18px;
    font-weight: 700;
}
.heading img{
    width: 24px;
    margin-left: 10px;
    cursor: pointer;
}
.bottom-div{
  
  width: 200%;
  height: 100%;
   
}
.bottom-div{
    display: flex;
    flex-flow: column;
    width: 58%;
    margin: 0 auto;
    justify-content: space-between;
    padding-bottom: 5px;
    margin-bottom: 25px;
    height: 67px;
    padding-top: 11px;
}

.left-div > div:nth-of-type(1){
    padding-right: 8%;
}
.bottom-div > div:nth-of-type(2){
    
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    border-top: 2px dotted lightgray;
    border-bottom: 2px dotted lightgray;
    padding: 2%;
}

.bottom-div > div:nth-of-type(2) > *{
    font-weight: bold;
}
.bottom-div > div:nth-of-type(3){
    padding-top: 30px;
    font-weight: bold;
}
.des{
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    padding-top: 40px;
    padding-bottom: 20px;
}

.des > .home img{
width: 32px;
}
.home > .del:nth-of-type(1) img{
   width: 40px;
   padding-left: 30px;
   cursor: pointer;
}
.home{
    display: flex;
    width: 32%;
    margin: 0 auto;
    justify-content: space-between;
    padding-bottom: 5px;
    margin-bottom: 25px;
    height: 67px;
    padding-top: 11px;
    border-bottom: 1px solid lightgray;
}


.home > .del2:nth-of-type(2) img{
    width: 40px;
    padding-left: 30px;
}
.res{
    width: 58%;
    margin: 0 auto;
    justify-content:space-around;
    
    border-bottom: 1px solid lightgrey;
    
    padding-top: 11px;

}
.div-bot{
    display: flex;
    width: 80%;
    padding: 2%;
    margin: 0 auto;
    justify-content: space-around;
}
.div-bot > .more{
    display: flex;
    border: 1px solid lightgray;
    padding: 2%;

}
.div-bot > .more img{
    display: flex;
    width: 55px;
    margin: 0 auto;
    margin-top: 33%;
    
}
.div-bot > .more-f{
    display: flex;

}
.div-bot > .more-f img{
    display: flex;
    width: 137px;
    
}
.div-bot > .more-s{
    display: flex;

}
.div-bot > .more-s img{
    display: flex;
    width: 137px;
    
}
.rht{
    width: 73%;
    float: right;
    margin-left: 12%;
}

.rht label {
    display: block;
}

.rht >div:nth-of-type(2) {
    float: right;
    text-decoration: underline;
    color: blue;
    margin-top: 1%;
    cursor: pointer;
}

  .pincode-wrapper{
    display: flex;
    flex-flow: column;
    margin-top: 2%;
    width: 33%;
    margin: 0 auto;
    padding-left: 13px;
  }  

  .pincode-wrapper input {
    width: 95%;
    height: 27px;
    margin-top: 5px;
    margin-bottom: 10px;
    cursor: pointer;
  }

  .pincode-wrapper img {
    cursor: pointer;
  }

  .display-none {
    display: none;
  }

    
/* nav */

    
#secondnav {
    display: flex;
    justify-content: space-between;
    padding: 5px 20px;
}

.box {
    width: 600px;
    height: 8px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: rgb(226, 229, 233);
}

.box>img {
    font-size: 20px;
    width: 27px;
    padding-right: 10px;
}

.box>input {
    flex: 1;
    height: 40px;
    border: none;
    outline: none;
    font-size: 18px;

    background-color: rgb(226, 229, 233);
}

.secondbox {
    width: 265px;
    background-color: white;
}

.secondbox:hover {
    background-color: rgb(226, 229, 233);
    cursor: pointer;
}

#thirdnav {
    padding-left: 150px;
    margin-top: 20px;
    display: flex;
   
}
#thirdnav h3:hover{
    cursor: pointer;
}
#thirdnav h3{
    margin-right: 40px;
}
