.maincontainer{
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
}

*{
    margin:0%;
    padding: 0%;
}


.signup{
    margin:0;
    padding:0;
    font-family: sans-serif;
    /* background: linear-gradient(#141e30,#243b55); */
}



.user-box {
    position:relative;
    margin-bottom: 20px;
}


.user-box input{
    width:80%;
    padding:10px 0px;
    font-size:16px;
    color:black;
    /* margin-bottom: 30px; */
    border:none;
    border-bottom: 2px solid black;
    outline: none;
    background: transparent;
}




main{
    display:flex;
    width:100%;
}
.left{
    width:40%;
}
.center{
    width:20%;

}
.right{
    width:50%;
}
.second{
    display: flex;
    width:100%;
}
.image-wrap{
    width:80%;
}
.image-wrap div {
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 4px;
    margin-bottom: 0.4rem;
}

.seq {
    height: 12rem;
}
.rect{
    height:16rem;
}
#form span{
    color:red;
    font-size:10px;
    font-weight: bold;
}#yes,#no{
width: 25px;
height: 25px;
accent-color: black;
margin-right: 10px;
cursor: pointer;
}
.rightfirst{
    margin-bottom: 30px;
}
.check{
    width: 25px;
height: 25px;
accent-color: black;
border: 2px solid black;
margin-top:20px;
cursor: pointer;
}

#gender,#preferred{
    width:40%;
    height:40px;
    border:none;
    border-bottom: 2px solid black;
    outline: none;
    background: transparent;
    font-size: 16px;
    color:grey
}

#gender option ,#preferred option {
    width:200px;
    height:40px;
    border:none;
    border-bottom: 1px solid black;
    outline: none;
    background: transparent;
    font-size: 16px;
    color:rgb(12, 11, 11)
}

.user-box input:focus {
    top:-40;
    border:none;
    border-bottom: 4px solid blue;
    outline: none;
    background: transparent;
    font-size: 12px;
   
} 
.submit{
    margin-top:30px;
    font-size: 20px;
    width:80%;
    height:50px;
    border-radius: 20px;
    color:white;
    background-color: black;
    cursor: pointer;
}
.check-section{
    display: flex;
}
.checkbox_p1{
    width:40px;
    
}

#footer{
    display: flex;
    width: 100%;
    margin-top: 40px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
#footerfirst{
   width: 35%;
   text-align: justify;
   padding-left: 145px;
   font-size: 17px;
   padding-top: 10px;
}
#footerfirst p{
    margin-bottom: 20px;
    margin-top: 20px;
}
#footerfirst button{
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 10px 10px;
    border-radius: 16px;
    font-size: 17px;
    background-color: #0288D1;
    color: white;
    border: none;
    width: 120px;
}
#footerfirst button:hover{
    cursor: pointer;
    transform: scale(1.1);
}
#footersecond{
    width: 65%;
    padding-left: 50px;
}
#footersecond table{
   text-align: justify;
    width: 100%;
    text-align: left;
    font-size: 17px;
}
#footersecond thead{
    font-size: 20px;
}
#footersecond table td,th{
    padding: 10px 0px;;
}
td a{
    text-decoration: none;
}
#login{
    color: black;
    text-decoration: none;
}
   /* nav */
   #secondnav {
    display: flex;
    justify-content: space-between;
    padding: 5px 20px;
}

.box {
    width: 600px;
    height: 8px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: rgb(226, 229, 233);
}

.box>img {
    font-size: 20px;
    width: 27px;
    padding-right: 10px;
}

.box>input {
    flex: 1;
    height: 40px;
    border: none;
    outline: none;
    font-size: 18px;

    background-color: rgb(226, 229, 233);
}

.secondbox {
    width: 20px;
    background-color: white;
}

.secondbox:hover {
    background-color: rgb(226, 229, 233);
    cursor: pointer;
}

#thirdnav {
    padding-left: 150px;
    margin-top: 20px;
    display: flex;
   
}
#thirdnav h3:hover{
    cursor: pointer;
}
#thirdnav h3{
    margin-right: 40px;
}


@media screen and (min-width:700px) and (max-width: 900px){
   
    #footer{
        display: flex;
        flex-direction: column ;
        width: 100%;
        gap:25px;
        margin-top: 40px;
        background-color: #f5f5f5;
        box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    }
    #footer div{
        width:100%;
        margin: 0px;
        padding-right: 30px;
        padding-left: 50px;
    }

}
@media screen and (min-width:0px) and (max-width: 700px){
    
    #footer{
        display: flex;
        flex-direction: column ;
        width: 100%;
        gap:25px;
        margin-top: 40px;
        background-color: #f5f5f5;
        box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    }
    #footer div{
        width:100%;
        margin: 0px;
        padding-right: 30px;
        padding-left: 50px;
    }

}