body {
    font-family: 'Noto IKEA', 'Noto Sans', 'Roboto', 'Open Sans', system-ui, sans-serif !important;
    color: #302c2c;
}
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            /* font-style: italic; */
        }
        html, body{
            /* overflow-x: hidden; */
            height: 100%;
        }
        body img:hover {
            cursor: pointer;
        }
        #navall{
            z-index: 2;
        }
        #secondnav {
            display: flex;
            justify-content: space-between;
            padding: 1% 1%;
        }

        .box {
            width: 45%;
            height: 8px;
            background-color: white;
            border-radius: 30px;
            display: flex;
            align-items: center;
            padding: 20px;
            background-color: rgb(226, 229, 233);
        }

        .box>img {
            font-size: 20px;
            width: 27px;
            padding-right: 10px;
        }

        .box>input {
            flex: 1;
            height: 40px;
            border: none;
            outline: none;
            font-size: 18px;

            background-color: rgb(226, 229, 233);
        }

        .secondbox {
            width: 265px;
            background-color: white;
        }

        .secondbox:hover {
            background-color: rgb(226, 229, 233);
            cursor: pointer;
        }

        #thirdnav {
            padding-left: 10%;
            margin-top: 20px;
            display: flex;
           
        }
        #thirdnav h3:hover{
            cursor: pointer;
        }
        #thirdnav h3{
            margin-right: 4%;
        }
        
        #main{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            z-index: 1;
            
        }
        #percentage {
            width: 90%;
            padding-top: 60px;
           
        }

        #one {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 20px;

        }

        #one img {
            display: block;
            width: 100%;
            height: 100%;

        }

        #one>div:nth-child(1) {
            grid-area: 1/1/3/3;

        }

        #one>div:nth-child(2) {
            grid-area: 1/3/2/4;
        }

        #one>div:nth-child(3) {
            grid-area: 1/4/2/5;
        }

        #one>div:nth-child(4) {
            grid-area: 2/3/3/4;
        }

        #one>div:nth-child(5) {
            grid-area: 2/4/3/5;
        }
        .main-carousal{
            text-align: left;
           background-color: rgb(234, 229, 229);
            
        }
        .carousel-cell {
            width: 28%;
            height: 20%;
            
            background: #8C8;
            border-radius: 5px;
            counter-increment: carousel-cell;
        }

        .carousel-cell:before {
            display: block;
            content: counter(carousel-cell);
            line-height: 200px;
            font-size: 80px;
            color: white;
        }
        .cell{
            position: static;    
            width: 248px;
            margin: 0px 5px;
            background-color: white;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        }
        .cell img{
            display: block;
            width: 100%;
            padding: 10px 10px;
            
        }
        .celldiv{
            position: absolute;
            bottom: 18%;
            left:10%;
            background-color: white;
            width: 85%;
            text-align: center;
            padding: 2% 4%;
            border-radius: 25px;

        }
        .cell2{
            margin-right: 15px;
            width: 430px;
            
        }
        .cell2 img{
            display: block;
            width: 100%;
        }
        .lower1{
            padding: 50px 15px;
            height: 370px;
        }
        .heading1{
            font-size: 40px;
        }
        #lower1{
            background-color: brown;
            color: white;
        }
        #lower2{
           
            background-color: rgb(249, 189, 76);
        }
        #lower3{
            background-color: rgb(23, 23, 187);
            color: white;
        }
        #lower4{
            background-color: rgb(103, 103, 13);
            color: white;
        }
        #lower5{
           background-color: purple;
           color: white; 
        }
        #lower6{
           background-color: yellow; 
        }
        
        #three{
            display: flex;
            width: 100%;
            gap:20px;
            margin-top: 60px;
        }
        #three div{
            width: 50%;
        }
        .fix img{
            display: block;
            width: 100%;
        }
        #fourth{
            padding: 60px 60px;
            margin-top: 20px;
            margin-bottom: 20px;
            background-color: #0288D1;
            font-size: 25px;
        }
        #fourth button{
            margin-top: 10px;
            border-radius: 14px;
            padding: 4px 15px;
            font-size: 20px;
            border: none;
        }
        #fourth button:hover{
            background-color: rgb(190, 191, 192);
            cursor: pointer;
            transform: scale(1.1);
        }
        #five{
            display: flex;
            gap: 20px;
            width: 100%;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
            padding-bottom: 50px;
        }
        .five{
          width: 40%;
        }
        .five img{
            display: block;
            width: 100%;
            margin-bottom: 40px;  
        }
        .cellhed{
            text-align: center;
            padding-bottom: 10px;
        }
        #six{
            display: flex;
            padding: 10px 0px;
        }
        #six img{
            display: block;
            width: 100%;
        }
        #six button{
            margin-top: 10px;
            border-radius: 14px;
            padding: 4px 19px;
            font-size: 18px;
            border: none;
            background-color: black;
            color: white; 
        }
    
        #six button:hover{
            background-color: rgb(52, 61, 70);
            cursor: pointer;
            transform: scale(1.1);
        }
        #sevenchild{
            display: flex;
            width: 100%;
            gap:30px;
            
        }
        #sevenchild>div{
            
            width: 50%;
            padding: 20px 0px;
        }
        #sevenchild>div>p{
            font-size: 20px;
            margin-top: 15px;
            text-align: justify;
        }
        #sevenchild>div>a{
            font-size: 20px;
            color: black;
        }
        
        #footer{
            display: flex;
            width: 100%;
            margin-top: 40px;
            background-color: #f5f5f5;
            box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
        }
        #footerfirst{
           width: 35%;
           text-align: justify;
           padding-left: 145px;
           font-size: 17px;
           padding-top: 10px;
        }
        #footerfirst p{
            margin-bottom: 20px;
            margin-top: 20px;
        }
        #footerfirst button{
            margin-bottom: 20px;
            margin-top: 20px;
            padding: 10px 10px;
            border-radius: 16px;
            font-size: 17px;
            background-color: #0288D1;
            color: white;
            border: none;
            width: 120px;
        }
        #footerfirst button:hover{
            cursor: pointer;
            transform: scale(1.1);
        }
        #footersecond{
            width: 65%;
            padding-left: 50px;
        }
        #footersecond table{
           text-align: justify;
            width: 100%;
            text-align: left;
            font-size: 17px;
        }
        #footersecond thead{
            font-size: 20px;
        }
        #footersecond table td,th{
            padding: 10px 0px;;
        }
        td a{
            text-decoration: none;
        }
        #login{
            color: black;
            text-decoration: none;
        }
        #loginbtn{
            border: 2px solid white;
            background-color: white;
            color: black;
            font-size: 15px;
            font-weight: 800;
            padding: 7px 20px;
            border-radius: 18px;
        }
        #loginbtn:hover{
            cursor: pointer;
            transform: scale(1.1);
        }
        .sidebarmenu{
            height: 100%;
            position: fixed;
            left: 0;
            top: 0;
            width: 400px;
            background-color: rgb(228, 245, 244);
            text-align: center;
            /* transform: translate(-400px); */
            display: none;
            z-index: 3;
        }
       
        .menu{
            list-style: none;
            padding: 0;
            margin: 0;
        }
        .menu li{
            color: black;
            border-bottom: 1px solid rgba(255,255,255,0.10);
        }
        .menu li a{
            color: black;
            display: block;
            text-decoration: none;
            padding: 5px 20px;
            text-align: left;
            padding-left: 80px;
        }
        .menu li a:hover{
            text-decoration:underline;
            color: rgb(244, 188, 84);
        }
        .singlea{
            display: block;
            text-align: left;
            padding-left: 80px;
            padding-bottom: 10px;
            padding-top: 10px;
            text-decoration: none;
            font-size: 20px;
            color: black;
        }
        .singlea:hover{
            text-decoration:underline;
            color: rgb(244, 205, 132);
        }
        #singlep{
            margin-top: 10px;
        }
        .singlep{
            display: block;
            text-align: left;
            padding-left: 80px;
            padding-bottom: 10px;
            text-decoration: none; 
            color: black; 
        }
        .singlep:hover{
            text-decoration:underline;
            color: orange;
        }


        #sidebarmenuproduct{
            height: 100%;
            position: fixed;
            left: 0;
            right: 70%;
            top:0;
            width: 400px;
            background-color:rgb(228, 245, 244) ;
            display: none;
            z-index: 6;
        }
        
        .menuproduct{
            list-style:none ;
            padding: 0;
            margin: 0;
        }
        .menuproduct li{
            color: white;
            border-bottom: 1px solid rgba(255,255,255,0.10) ;
            color: black;
            display: block;
            text-decoration: none;
            padding-left: 70px;
            margin-top: 20px;
        }
        .menuproduct li p:hover{
            cursor: pointer;
            color: orange;
        }
        .menuproduct li h5:hover{
            cursor: pointer;
            color: orange;
        }
        

        #sidebarcarddetails{
            height: 100%;
            position: relative;
            position:fixed;
            left: 23%;
            top:0%;
            width: 400px;
            background-color:rgb(228, 245, 244) ;
            display: none;
            z-index: 5;
            
        }
        
        
        #menucarddetails{
            list-style:none ;
            padding: 0;
            margin: 0;
        }
        #menucarddetails li{
            color: white;
            border-bottom: 1px solid rgba(255,255,255,0.10) ;
            color: black;
            display: block;
            text-decoration: none;
            padding-left: 25%;
            padding-right: 10px;
            text-align: left;
        }
        #menucarddetails li h2{
            margin-top: 90px;
        } 
        #menucarddetails li h3{
            padding: 15px 0px;
        }
        #menucarddetails li a{
            display: block;
            color: black;
            padding: 5px 0px;
            text-decoration: none;
        }
        #menucarddetails li a:hover{
            text-decoration:underline;
            cursor: pointer;
            color: orange;
        }

        #leftslidermenu{
            height: 100%;
            position: relative;
            position:fixed;
            right: 0%;
            top:0%;
            width: 500px;
            background-color:white;
            display: none;
        }
        #leftslidermenudetails{
            height: 100%;
        }
        #firstdiv{
            height:50%;
            border: 2px solid green;
            background-color: green;
            color: white;
            
        }
        #firstdiv button{
            text-align: center; 
            border-radius: 20px; 
            border: none;
            font-size: 30px;
        }
        #firstdiv button:hover{
            cursor: pointer;
            transform: scale(1.1);
        }
        #firstdiv hr{
            height: 0.2px;
            background-color: rgb(53, 172, 53);
            border: none;
        }
        #firstdiv h3{
            margin: 6% 6%;
        }
        #seconddiv{
            height:50%; 
        }
        #seconddiv a{
            display: block;
            margin-top: 2%;
            margin: 7% 6%;
           text-decoration: none;
           color: black;
        }
        #seconddiv a:hover{
            text-decoration: underline;
            cursor: pointer;   
        }

        #imgdetail{
            display: grid;
            grid-template-columns: repeat(3,1fr);
            gap: 15px;
            margin-top: 40px;
        }
        #imgdetail div{
            display:flex;
            flex-wrap: wrap;
            
        }
        #imgdetail div img{
            display: block;
            width: 100%;
            border-radius: 10px;
        }
        #showmorediv{
            margin-top: 30px; 
            text-align: center;
        }
        #showmorebtn{
            padding: 10px 20px;
            border-radius: 20px;
            font-size: 17px;
            border: none;
            background-color: #0288D1;
        }
        #showmorebtn:hover{
            cursor: pointer;
            transform: scale(1.1);
        }

        @media screen and (min-width:601px) and (max-width: 900px){
            #imgdetail{
                display: grid;
                grid-template-columns: repeat(2,1fr);
                gap: 15px;
                margin-top: 40px;
            }
            #six{
                display: flex;
                flex-direction: column;
                padding: 10px 0px;
                gap:30px;
            }
            #sevenchild{
                display: flex;
                flex-direction: column;
                width: 100%;
                gap:30px; 
            }
            #sevenchild div{
                width: 100%;
                margin: auto;
                padding: 10px;
                margin: 0;
            }
            #footer{
                display: flex;
                flex-direction: column ;
                width: 100%;
                gap:25px;
                margin-top: 40px;
                background-color: #f5f5f5;
                box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
            }
            #footer div{
                width:100%;
                margin: 0px;
                padding-right: 30px;
                padding-left: 50px;
            }
            #log{
                display: none;
                
            }
            .secondbox {
                width: 60px;
                background-color: white;
            }

          
            #secondbox{
                width: 10px;
            }
            #okokok{
                margin-right: 3px;
            }
            
        }
        @media screen and (min-width:0px) and (max-width: 600px){
            #imgdetail{
                display: grid;
                grid-template-columns: repeat(1,1fr);
                gap: 15px;
                margin-top: 40px;
            }
            #six{
                display: flex;
                flex-direction: column;
                padding: 10px 0px;
                gap:30px;
            }
            #sevenchild{
                display: flex;
                flex-direction: column;
                width: 100%;
                gap:30px; 
            }
            #sevenchild div{
                width: 100%;
                margin: auto;
                padding: 10px;
                margin: 0;
            }
            #footer{
                display: flex;
                flex-direction: column ;
                width: 100%;
                gap:25px;
                margin-top: 40px;
                background-color: #f5f5f5;
                box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
            }
            #footer div{
                width:100%;
                margin: 0px;
                padding-right: 30px;
                padding-left: 50px;
            }
            #log{
                display: none;
            }
            .secondbox {
                width: 60px;
                background-color: white;
            }

        }
    